  @import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
  @import url("https://fonts.googleapis.com/icon?family=Material+Icons");

  body {
    font-family: "Roboto", sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 20px;
  }

  .logo {
    font-size: 24px;
    font-weight: bold;
  }

  .search-container {
    display: flex;
    align-items: center;
  }

  .search-icon {
    color: #999;
    margin-right: 10px;
  }

  .form-control {
    border: none;
    border-bottom: 2px solid #6f42c1;
    font-size: 16px;
    padding: 10px;
    transition: border-color 0.3s ease;
    border-radius: 30px;
  }

  .form-control:focus {
    outline: none;
    border-color: #6f42c1;
    box-shadow: 0 0 5px rgba(111, 66, 193, 0.3);
  }

  .buttons-container {
    display: flex;
    gap: 10px;
  }

  .telegram-button,
  .features-button,
  .changelog-button,
  .home-button {
    border: none;
    background-color: #6f42c1;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .telegram-button:hover,
  .features-button:hover,
  .changelog-button:hover,
  .home-button:hover {
    background-color: #4c288e;
  }

  .container {
    width: 100%;
    max-width: 1200px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto;
  }

  .search-container {
    position: relative;
    display: flex;
    align-items: center;
  }

  .search-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #999;
    z-index: 1;
  }

  .form-control {
    border: none;
    border-bottom: 2px solid #6f42c1;
    font-size: 16px;
    padding: 10px 30px 10px 40px;
    width: 100%;
    transition: border-color 0.3s ease;
    border-radius: 30px;
  }

  .form-control:focus {
    outline: none;
    border-color: #6f42c1;
    box-shadow: 0 0 5px rgba(111, 66, 193, 0.3);
  }

  .champion-card {
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin: 10px;
    flex: 1 0 calc(25% - 20px);
  }

  .champion-card:hover {
    transform: translateY(-5px);
    background-color: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  }

  .champion-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .champion-name {
    font-size: 18px;
    font-weight: bold;
  }

  .champions-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  /* Add specific background color for supported champions */
  .champion-card.supported {
    background-color: #eaf7ef; /* Light green background color for supported champions */
  }
  footer {
    background-color: #6f42c1;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
  }

  footer p {
    margin: 5px 0;
  }
